
/* Estilo para aplicar un tema oscuro a las alertas de SweetAlert2 */
/* Clase CSS para el modo oscuro */
.swal2-dark {
    background-color: #2c2c2c; /* Fondo oscuro */
    color: #f1f1f1; /* Texto claro */
    /* Otros estilos para el modo oscuro */
}

/* Clase CSS para el modo claro */
.swal2-light {
    background-color: #ffffff; /* Fondo claro */
    color: #000000; /* Texto oscuro */
    /* Otros estilos para el modo claro */
}


/* Aplica el estilo oscuro al contenedor de SweetAlert2 */
.swal2-container.swal2-backdrop-show {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
}

/* Personaliza el color de los botones en el tema oscuro */
.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
    background-color: #3085d6; /* Botón azul */
    color: #f1f1f1; /* Texto claro en los botones */
}
